@import 'variables';
* {
  PADDING: 0PX;
  MARGIN: 0PX;
}

a:focus {
  outline: none;
}

a:active {
  text-decoration: none;
}

html {
  background: white;
}

body {
  width: 100%;
}

.color_blue {
  background: $color-blue;
}

.shadow_box {
  border-radius: $shadow-border-radius;
  box-shadow: $box-shadow;
}

#info-popup {
  width: 100%;
  top: 0px;
  position: absolute;
  z-index: 90;
}

#info-popup>div {
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.slowshow {
  display: block;
  transition: 0.3s;
}

#content_topmenu {
  margin: $main-margin-top auto;
  padding: 5px;
  width: 740px;
  position: fixed;
  top: 0px;
  left: calc((100% - 740px)/2);
  color: rgb(255, 255, 255);
  z-index: 10;
}

#content_topmenu #logo {
  font-family: 'Lobster', cursive;
  font-size: 24px;
  color: black;
}

#content_topmenu li {
  border-bottom: 1px solid rgba(255, 255, 255, 0);
}

#content_topmenu li:focus {
  outline: none;
}

#content_topmenu li:hover {
  border-bottom: 1px solid white;
}

#content_topmenu>ul>li:first-child:hover {
  border: none;
}

#content_topmenu>ul {
  margin: 0px;
  padding: 0px;
}

#content_topmenu>ul>li {
  display: inline-block;
  margin: 0 10px;
  font-size: 20px;
  font-family: 'Pattaya', sans-serif;
}

#content_topmenu li a {
  text-decoration: none;
  color: white;
}

.dropdown-menu li {
  margin: 3px 5px;
  cursor: pointer;
}

#content_body {
  width: 740px;
  margin: 30px auto;
  margin-top: $main-margin-top + 50px;
  color: white;
  padding: 20px;
}